<h2>Listeners</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Service Name</th>
      <th>Protocol Module</th>
      <th>Address</th>
      <th>Port</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |listener|}}
      <tr>
        <td>{{listener.serviceName}}</td>
        <td>{{listener.protocolModule}}</td>
        <td>{{listener.address}}</td>
        <td>{{listener.port}}</td>
        <td>{{listener.state}}</td>
      </tr>
    {{/each}}

  </tbody>
  <tfoot>

  </tfoot>
</table>
